.filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  .toggle-container {
    margin-left: auto;
    display: flex;
  }

  // style du toggleButton
  p-toggleButton {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    &:hover {
      transform: scale(1.1);
      background-color: #e0e0e0;
    }

    .p-button-label {
      display: none;
    }
  }

  input[pInputText],
  p-button,
  p-autoComplete,
  p-splitButton {
    margin-right: 0.5rem;
  }
}

.table-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
