<div class="face-snap-card" [ngClass]="{snapped: snapOrNot}">
<H2>{{faceSnap.title | titlecase | Pipetest}}</H2>
  <br>
  <nav>
  <p-checkbox inputId="prop1" name="Nombre" value="Nombre" [(ngModel)]="Nombre" [binary]="true" />
  <label for="prop1" class="ml-2"> Nombre </label>
    <p-checkbox inputId="prop2" name="Pourcent" value="Pourcent" [(ngModel)]="Pourcent" [binary]="true" />
    <label for="prop2" class="ml-2"> Pourcent </label>
  </nav>
  <br>
  <a routerLink="/facesnaps">Back</a>
<p>{{faceSnap.description}}</p>
  <p>FaceSnap crée le : {{faceSnap.createdAt |date : 'dd/MM/yy'}}</p>
  @if (Nombre){
    <p>{{ 4346234.36 | number:'1.0-0'}}</p>
  }
  @if (Pourcent){
    <p>{{ 0.4536 | percent}}</p>
  }
<img [src]="faceSnap.url">
<p>
  <p-button (click)="onAddSnap()">{{snapButton}}</p-button>
  <span [ngStyle]="{ color: 'rgb(0,'+changerCouleur()+',0)' }">{{faceSnap.snaps}}</span>
</p>
</div>
