input {

  margin-top: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid darkslateblue;
  box-shadow: #333333 1px 1px 1px;

}


button{

    border-radius: 5px;
    background-color: blueviolet;
    box-shadow: #333333 0 1px 2px;
    text-decoration-style: dashed;
    border-color: transparent;
    color: white;
}

button:hover {
  background-color: mediumpurple;
  width: 50px;
}
