.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 0px 10px 10px;
  border-radius: 0px 50px 50px 0px ;
  box-shadow: mediumpurple 2px 2px 10px;
  display: flex;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 3px;
    color: mediumpurple;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }
}

.snapped {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: darkgreen;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}

.face-snap-card.input {
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: lightgray 3px 3px 7px;
  border: 1px;
  object-fit: cover;
}

.banner {
  border-left: 5px solid mediumpurple;
  border-radius: 5px 50px 50px 5px;
  padding: 10px;
  width: 20%;
  margin-right: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.verticalBox{
  display: grid;
  margin-right: 28%;
}

.horizontal{
  padding: 10px;
  margin-right: 2px;
}

.face-snap-card:hover{
  width: 50.5%;
}
